@model CHUSHKA.Web.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Create Product</h1>
<hr class="hr-2 bg-dark" />
<form class="mx-auto half-width" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Name...">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" type="number" class="form-control" placeholder="Price..." min="0" step="1">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="4" placeholder="Description..."></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <h4 class="text-center">Product Type</h4>
    <hr class="hr-2 bg-dark half-width mt-4" />
    <div class="product-type-holder mt-4 d-flex justify-content-around">
        @foreach (var productType in Enum.GetValues(typeof(Chushka.Models.ProductType)))
        {
            <div class="form-check form-check-inline">
                <input asp-for="Type" class="form-check-input" type="radio" value="@productType">
                <label class="form-check-label">@productType</label>
            </div>

        }
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <hr class="hr-2 bg-dark half-width mt-4" />
    <div class="button-holder mt-2 d-flex justify-content-center">
        <button type="submit" class="btn chushka-bg-color">Create</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}